.ss-container {
  overflow: hidden;
  position: relative;
}

.ss-native-scrolling-wrapper {
  overflow: auto;
  /*
   * Add a lot of width to ensure scroll bar is pushed out of the way
   * This constant is substracted from .ss-content width using Javascript
   */
  width: calc(100% + 10000px);
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.ss-scrollbar {
  position: absolute;
  width: 9px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.ss-ltr .ss-scrollbar {
  right: 0;
}

.ss-rtl .ss-scrollbar {
  left: 0;
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scrollbar,
.ss-container:active .ss-scrollbar {
  opacity: 1;
}

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
